fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain_openai
langchain-chroma
google-generativeai
chromadb
sentence-transformers
pypdf
pydantic
python-dotenv
requests
openai
huggingface-hub

